<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div style="display: block">用户登录：
    <form action="login.action" method="post">
        <label for="user">User:</label><input type="text" id="user" name="user">
        <label for="pass">Password:</label><input type="password" id="pass" name="pass">
        <label>
            记住密码：<input type="radio" name="auto" value="1">
        </label>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>