<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>饭团：餐费充值</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.min.css}"/>
</head>
<body>
<div th:replace="common::navbar"></div>
<div class="container">
    <div class="bs-docs-section">
        <!--@thymesVar id="nowMoney" type="java.lang.String"-->
        <h4 th:text="'余额：'+${nowMoney}"></h4>

        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <form class="form-horizontal" action="refill.action">
                        <fieldset>
                            <legend>餐费充值</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">充值金额</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="金额"
                                           name="money" onkeyup="value=value.replace(/[^\d.\d|\d]/g,'')" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" class="btn btn-default">重置</button>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common::footer"></div>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>